input/

output/

notebook/.ipynb_checkpoints/

notebook/01_Pandas_100_Knocks_for_Begginer(all_answer_displayed)_v1.0.6.ipynb

notebook/02_Pandas_100_Knocks_for_Begginer_Random_Knocks_v1.0.6.ipynb

notebook/03_Titanic_Passengers_Prediction_v1.0.6.ipynb